body{
    background-color: rgb(204, 251, 251);
}
body::before{
    content: "";
    background: url("https://thumbs.dreamstime.com/b/abstract-vector-phone-man-hand-world-news-background-mockup-online-newspaper-app-global-media-press-web-publication-228237390.jpg") center;
    position: absolute;
    top:0;
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
img{
    width:22rem; 
    border-radius:10px; 
    border:2px solid black
}
.card{
  width: 550px;
  height: 90vh;
  border: 2px solid black;
  border-radius: 15px;
}
.carousel-inner{
    display:flex;
    justify-content: center;
}

@media (max-width:1200px) {
    .card{
        width:  430px;
    }
}
@media (max-width:1000px) {
    .card{
        width: 670px;
    }
    .carousel-inner{
        display:block;
    }
}
@media (max-width:770px) {
    .card{
        width: 100%;
    }
    .carousel-inner{
        display:block;
    }
}
@media (max-width:405px) {
    img{
        width:18rem;
    }
}
@media (max-width:345px) {
    img{
        width:13rem;
    }
}